.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
    margin-bottom: 0em;
    margin-top: 0.5em;
    padding: 0;
}

.markdown-preview-view div {
    margin-bottom: -.25em;
}

.is-live-preview .cm-content > .HyperMD-header {
    --p-spacing: 0px;
}